*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	min-height: 90vh;
	font-family: 'Poppins', sans-serif;
	background-color: #2c453c;
	color: white;

	.main-heading {
		font-size: 3.2rem;
		font-weight: 500;
	}

	main {
		width: 40rem;
		height: 40rem;
		border-radius: 50%;
		text-align: center;
	}

	.modes {
		font-size: 1.8rem;
		padding: 1.6rem 1rem;
		background: #2f5251;
		border-radius: 10rem;

		a {
			margin-right: 2em;
			text-decoration: none;
			font-weight: 500;
			color: #48675d;
			transition: all 300ms ease-out;

			&.active {
				padding: 0.5em 1em;
				border-radius: 50px;
				background-color: #fa6f71;
				color: #2f5251;
			}

			&:last-child { margin-right: 0; }
		}
  }
  
  .get-started {
    background: royalblue;
    padding: 1.2rem 2rem;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    margin-top: 2rem;
  }

	.pomodoro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: relative;
		margin: 2.5rem 0;
		text-align: center;
		border-radius: 50%;
		background: #2c453c;
		box-shadow: 50px 50px 82px #2f5251, -50px -50px 82px #1c2244;

		&::before {
			content: '';
			position: absolute;
			border: 10px solid royalblue;
			border-radius: 50%;
			width: 35rem;
			height: 35rem;
		}

		&__time {
			font-size: 7rem;
			font-weight: 500;
		}

		&__state {
			font-size: 2rem;
			margin-top: 1em;
			padding-left: 1em;
			letter-spacing: 1em;
			text-transform: uppercase;
		}
	}
}


}

@media screen and (min-width: 320px) and (max-width: 480px) {
	main { transform: scale(0.8); }
	
	body .modes { font-size: 1.5rem; }
}
