@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Tahoma';
 // background-color: #c2e6e8;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
button:active {
  background-color: rgb(104, 189, 158);
  border: none;
  width: 20px;
  height: 15px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(66, 138, 97);
  -webkit-box-shadow: 0.2em 0.2em rgb(66, 138, 97);
  -moz-box-shadow: 0.2em 0.2em rgb(66, 138, 97);
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em rgb(66, 138, 97) inset;
  -webkit-box-shadow: 0.2em 0.2em rgb(66, 138, 97) inset;
  -moz-box-shadow: 0.2em 0.2em rgb(66, 138, 97) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(179, 227, 219); 
  width: 120px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px rgb(121, 145, 141) inset;
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 30px;
  text-align: center;
  background-color: rgb(198, 204, 203);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px rgb(121, 145, 141) inset;
}

#display-controls {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 8px;
  text-align: center;
  padding-top: 1px;
  background-color: rgb(198, 204, 203);
  border-radius: 3px;
  height: 10px;
  flex: 2;
  box-shadow: 1px 1px rgb(198, 204, 203) inset;
}

#timer-ssr {
  flex: 1;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50px;
  height:30px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 1px solid rgb(104, 189, 158);
  padding: 10px;
  border-radius: 5px;
  width: 15%;
}

.timer-length {
  font-size: 0.5em;
}

.break-container,
.inc-arrow {
  margin-right: 5px;
}
